version: "3.6"

services:
  mongodb:
    image: mongo:4.0
    ports:
      - 27017:27017
    tmpfs:
      - /data/db

  api:
    environment:
      - NODE_ENV=test
      - PORT=8080
      - GITHUB_API_URL=https://api.github.com
      - MONGO_URL=mongodb://mongodb
    ports:
      - 8080:8080
    command: sh -c "npm run build && npm start"